/* h1 {text-align: center;
    font-size: 40px;}
  
p {text-align: center;
    color: rgb(223, 232, 241);
    border: 3px rgb(247, 243, 22);
    font-size: 30px;
 
table {
  border: 5px solid red;

}
table,
td,
th {
  border: 3px solid rgb(75, 32, 177);
}
tr,td2 {
  border: 4px solid green ;
} */
#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}